#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  background-image: url("/public/images/bg_image.jpg"); /* Replace with your actual image path */
  background-size: cover; /* Covers entire viewport */
  background-position: center;
  background-attachment: fixed; /* Keeps it in place */
}

